:root {
  
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; */

  --clr-accent-400: hsl(144, 42%, 39%);
  --clr-accent-100: hsl(97, 73%, 75%);

  --clr-primary-400: hsl(203, 75%, 50%);

  --clr-neutral-100: hwb(12 95% 4%);
  --clr-neutral-900: hsl(0, 0%, 14%);

  --ff-primary: 'Be Vietanam Pro', sans-serif;

  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  --fs-300: 0.8125rem;
  --fs-400: 1rem;
  --fs-500: 1.25rem;
  --fs-700: 1.55rem;

  --fs-body: var(--fs-400);
  --fs-display: var(--fs-500);
  --fs-button: var(--fs-300);

}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.main-container {
  display: flex;
  background-color: var(--clr-primary-400);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.calculator-container {
  display: flex;
  flex-direction: column;
}

/* .button-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
} */
